<div class="sidebar well">
{{ site.description }}
{% include social.html%}
{% include links-list.html %}
<script src='//w.segmentfault.com/card/1030000000681633.js?w=0&3rd=1&bg=0&bd=DDDDDD&cl=333333&btn=009a61&noBtn=0'></script>
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<!-- <div class="sidebar well">

</div>
 -->
