<div class="sidebar well">
  <img alt="" class="avatar" height="220" src="https://avatars3.githubusercontent.com/u/5362577?v=3&amp;s=460" width="220">
{{ site.description }}
{% include social.html%}
{% include links-list.html %}
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<!-- <div class="sidebar well">

</div>
 -->
